@import "utils/vars";
.member {
  font-family: $mainFontFamily;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: $fifthColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    padding-top: 30px;
    margin-bottom: 10px;
    &__position {
      font-family: $mainFontFamily;
      font-size: 16px;
      line-height: 1.18;
      color: $thirdColor;
    }
  }
}
