@import "utils/vars";
.socials {
  display: flex;
  margin: 0px 32px 30px 32px;
  padding: 0px;
  &__item {
    margin-top: 16px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link:hover,
  &__link:focus,
  &__link:active {
    fill: $primaryColor;
  }
  &__highlight {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    padding: 12px;
    background-color: $primaryColor;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__highlight:hover,
  &__highlight:focus,
  &__highlight:active {
    background-color: $seventhColor;
  }
  &__highlight:hover > svg {
    fill: $primaryColor;
  }
  &__highlight > .socials__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: $disabledColor;
  }
  &__icon:hover,
  &__icon:focus,
  &__icon:active {
    fill: $primaryColor;
  }
}
